---
---

@import "{{ site.theme }}";

.page-header {
  background-color: rgba(153, 87, 21, 0.89) !important;
  background-image: linear-gradient(120deg, #991515, rgba(153, 87, 21, 0.89)) !important;
}

img.center {
  display: block;
  margin: 0 auto;
}
