---
---

@import "{{ site.theme }}";
@import "bootstrap/mixins/clearfix";
@import "bootstrap/mixins/nav-divider";
@import "bootstrap/mixins/border-radius";
@import "bootstrap/variables";
@import "bootstrap/navs";

.page-header {
  background-color: #f00000 !important;
  background-image: linear-gradient(120deg, #e2413b, #f88677) !important;
}

img.center {
  display: block;
  margin: 0 auto;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #f16658;
}

.wh-header {
  padding: 0 0 0 0;
}

.wh-logo {
  width: 25%;
}

.main-content h1 {
  color: #0f095e;
}
